<div class="container">
  <div class="row trips">
    <div class="col-4">
      <div class="card day-card" style="width: 18rem;">
        <div class="text-center day-header">
          <p class="text-center"> 9 Julio </p>
        </div>
        <div class="card">
          <div class="card-body">
            <p class="trip-text-bold">Cuautitlán -- Zona Poniente (Chamapa)</p>
            <p class="trip-text-simple">Horario de Salida</p>
            <p class="trip-text-bold">05:50 AM</p>
            <p class="trip-text-simple">Av. Jose Maria Morelos (Frente al Reloj de la Ford)</p>
            <p class="trip-text-simple">Av Sta Fe 695. Lomas de Santa De</p>
            <div class="stops-button">
                <button type="button" class="btn btn-primary btn-lg btn-block" >Ver paradas</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
