<nav *ngIf="checkIfLogged()" class="navbar navbar-expand-lg navbar-dark" style="background-color:#4abea7;">
  <a class="navbar-brand" routerLink="/home">
    <img src="../assets/images/logo-jetty.svg" width="60" height="30" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/trips">Viajes</a> 
      </li>
      <!-- <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/calendar">Calendario</a>
      </li> -->
    </ul>
    <ul class="navbar-nav navbar-rigth">
      <li class="nav-item">
        <a class="nav-link" (click)="loginOut()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
