<div class="container home">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="card user-card">
        <div class="text-center home-icon">
          <img src="../assets/images/logo-jetty.png" width="150" height="75" class="d-inline-block align-top" alt="">
          <p class="text-center">Buen Viaje. Siempre.</p>
        </div>
        <div class="card-body">
          <p class="text-center">Bienvenido {{userFullName}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
